# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

lumina-blog-media/*
lumina-blog-media-optimized/*
# mobile/assets/*  <-- 移除或注释掉这一行
backend/wrangler.toml
backend/.dev.vars
.env
.env.*
!.env.example
CosyVoice/

# Backups
backups/
